/* head area */
@font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-Bold.woff2") format("woff2"),
      url("Averta-web-font/Averta-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-BoldItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-Thin.woff2") format("woff2"),
      url("Averta-web-font/Averta-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-SemiboldItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-SemiboldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-ThinItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-Light.woff2") format("woff2"),
      url("Averta-web-font/Averta-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-Regular.woff2") format("woff2"),
      url("Averta-web-font/Averta-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-BlackItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-Black.woff2") format("woff2"),
      url("Averta-web-font/Averta-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-Semibold.woff2") format("woff2"),
      url("Averta-web-font/Averta-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-ExtraBoldItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-LightItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-RegularItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-ExtraBold.woff2") format("woff2"),
      url("Averta-web-font/Averta-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  
  :root {
    --primary-color: #00425F;
    --primary-color-dark: #012534;
    --darker-color: #00151f;
    --light-color: rgba(238, 237, 237, 0.856);
    --primary-red: #DC4437;
  
  }
  
  body h1,
  html,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  /* .btn, */
  li,
  a,
  form,
  label {
    font-family: "Averta";
  
  
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    font-family: "Averta";
    padding: 0;
  
  }
  
  a {
    text-decoration: none !important;
  }

  .text-center {
    text-align: center !important;
  }

  .container {
    max-width: 1280px !important;
    margin: 0 auto !important;
    padding: 2.5rem;
  }

  /* ====================
    NAVBAR CSS
  =====================*/

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 2.5em 0;
  }

  .logo {
    cursor: pointer;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    align-items: center;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    font-family: "Averta" !important;
  }
  
  /* .menu a {
    text-decoration: none;
  } */
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
      /* justify-content: center; */
      align-items: center;
      padding-top: 10px;
  
  }
  
  #menu-toggle {
    display: none;
  }

  .menu-button-elearn,
  .menu-button-elearn::before,
  .menu-button-elearn::after {
    display: block;
    background-color:  #fff !important;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 1px;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color:  #004250;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 1px;
  }

 
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
    display: none;
  }

  #menu-toggle:checked + .menu-button-container .menu-button-elearn {
    background: #fff !important;
    transform: rotate(42deg);
  }
  
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: #004250;
    transform: rotate(42deg);
  }


  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-263deg);
  }
  
  @media (max-width: 1280px) {
    .menu > li {
      margin: 0 0rem;
  }
  .top-nav { 
    padding: 3em 1.5em;
  }
  
  }
  
  @media (max-width: 770px) {
  
    .top-nav { 
      padding: 3em 1.5em;
    }
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 89px;
      /* padding-bottom: 30px; */
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      background-color: #fff;
      z-index: 10;
     
      
    }

    .aux-menu {
        background-color: #ebf8fe !important;
    }

    .aux-menu-contact {
        background-color: #D9D9D9;
    }


    .aux-menu-elearn {
        background-color: #072F40;
        padding-bottom: 0px !important;
    }
  
    .menu a {
      color: black;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: none;
      padding-top: 15px !important;
      padding-left: 40px;
      height: 3em;
      /* padding: 0.5em; */
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: left;
      margin: 0;
      padding: 0.5em 0;
      /* width: 74%; */
      color: white;
      background-color: rgba(34, 34, 34, 0);
      color: black;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }


  }

    /* ===============================
 NAV SECTION START 
  ================================== */


  .nav-container {
    max-width: 1280px !important;
    margin: 0 auto !important;
  }
  
  .nav_parent {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
  }
  
  .logo {
    flex: 1 0 auto;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 30px;
    cursor: pointer;
  }
  
  
  
  .logo:hover {
    text-decoration: none;
    cursor: default;
  }
  
  li {
    /* margin-right: 25px; */
  }
  
  li:hover {
    cursor: pointer;
  }
  
  .nav-item {
    color:#00425F;
    font-size: 16px;
    padding-right: 30px;
    justify-content: space-between;
  }
  .white-item a{
    color: #fff !important;
  }
  .nav-item a {
    color:#00425F;
  }
  .nav-item img {
    vertical-align: middle;
  }

  
  .nav-item a:hover {
    transform: scale(1.1);
    color: #DC4437;
  
  }
  
  .nav-item:hover {
    transform: scale(1.1);
    color: #DC4437;
  
  }
  
  /* .nav-link:active {
    transform: scale(1);
  } */

  .talk-btn {
    padding: 16px 32px !important;
    background-color: #0275D8 !important;
    border-radius: 8px;
  }

  .talk-btn a {
    color: #fff !important;
  }
  
  
    .blink{
      visibility:hidden;
  }
  .flag {
    padding: 20px;
  }

/* ===============================
   BANNER SECTION START 
================================== */

.hero-section {
    background: url("../images/top-cta.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.top-left {
    position: absolute;
    left: 5%;
    top: 19%;
}

.top-right {
    position: absolute;
    right: 0%;
    top: 25%;
}

.bottom-left {
    position: absolute;
    bottom: 9%;
    left: 18%;
}

.bottom-right {
    position: absolute;
    bottom: 16%;
    right: 18%;
}

.red-bar-banner {
    float: right;
}

.banner-text-container {
    max-width: 783px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    position: relative;
    z-index: 10;
    padding: 180px 0px;
}

.banner-text-container h1 {
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.10);
    font-size: 52px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 45px;
}

.banner-text-container p { 
    text-align: center;
    font-family: Averta;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 45px;
}

.learn-more-btn {
    padding: 16px 32px !important;
    background-color: #0275D8 !important;
    border-radius: 8px;
}

.poker-dot-banner {
    /* float: right; */
    position: absolute;
    bottom: 0;
    right: 0;
}

.banner-text-container a {
    color: #FFF;
}

/* ===================
  REGISTER SECTION
====================*/

.register-section {
    background: #EBF8FE;
    /* background-position: center; */
    background-size:cover;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* .top-left-corner {
    position: absolute;
    top: -80%;
    left: -13%;
}

.bottom-right-corner {
    position: absolute;
    bottom: 2%;
    right: -2;
} */

.register-heading {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    color: #072F40;
}

.heading-container {
    padding: 90px 0;
}

.dot-left {
    position: absolute;
    left: -0.6%;
    top: 10%;
}

.stroke-left {
    position: absolute;
    left: -2%;
    bottom: 10%;
}

.stroke-right {
    position: absolute;
    right: -1.3%;
    top: 13%;
}

.speaker-detail-flex {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}

.speaker-img-cont img{
    height: 100%;
}

.speaker-img-cont {
    position: relative;
}

.speaker-small-head {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.speaker-main-detail {
    position: absolute;
    top: 55%;
    left: 29%;
    text-align: center;
}

.speaker-main-detail h1{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.speaker-main-detail p{
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.speaker-dots {
    position: absolute;
    bottom: 0;
    left: 22%;
    /* width: 60px; */
}
/* .register-section{
    background-image: url(../images/blue-red-bar.png), url(../images/2nd-blue-dot.png);
    background-size: 5%, 8%;
    background-position: 101% 20% , 0% 0%;
    background-repeat: no-repeat;
} */

.speaker-text{
    max-width: 587px;
    padding-bottom: 30px;
}

.speaker-big-head {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 22px;
}

.icon_and_text {
    display: flex;
    align-items: baseline;
}

.speaker-small-head {
  margin-left: 15px;
  margin-bottom: 0;
}

.date_time {
    gap: 95px;
    display: flex;
    justify-content: flex-start;
}

.icon_and_text i{
    font-size: 20px;
}

.icon_and_text svg{
    width: 20px;
}

.role {
    color: #00B8DE;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.reserve-seat-btn {
    /* margin-top: 40px; */
    background-color: #0275D8;
    color: #fff;
    padding: 16px 70px;
    border-radius: 8px;
    border: none;
}

.speaker-info {
    padding-bottom: 60px;
}

/* .top-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */


/* ===================
EBOOK SECTION
====================*/

.ebook {
    background: url("../images/ebook-section.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.download-ebook-heading {
    padding: 90px 100px;
}

.download-ebook-heading h1{
    color: #00425F;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
}

.ebook-flex {
    justify-content: space-evenly;
    padding-bottom: 80px;
}

.speaker-text ul{
    padding-bottom: 50px;
}

.ebook-image {
    max-width: 400px;
}

.ebook-image img{
    width: 100%;
}

.ebook-stroke {
    position: absolute;
    left: 20%;
    bottom: 0%;
}

/* Popupform */

.pop-heading {
  text-align: center;
  color: #004250;
  padding-bottom: 20px;
  font-size: 28px;
  font-weight:700;
}

.form-handle {
  width: 100%;
}

.loginPopup {
  position: absolute;
  text-align: left;
  width: 100%;
  left: 0%;
top: -22%;
  
}
.formPopup {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 50%;
  top: -20%;
  padding-bottom: 2950px;
  padding-top: 155px;
  transform: translate(-50%, 5%);
  background: rgba(0, 0, 0, 0.935);
  z-index: 100;
  /* border-radius: 12px; */
}

.formContainer {
  margin: 0 auto;
  max-width: 480px;
  padding: 23px 44px;
  background-color: #fff;
  border-radius: 12px;
}

.formContainer .cancel {
  background-color: #cc0000 !important;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  top: 50px;
  right: 1px;
  padding: 7px 14px;
  border-radius: 30px;
  color: #fff !important;
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: 700;
  margin-right: 12px;
}

.form-group {
  margin-bottom: 20px;
}

.required_symbol {
  color: #EE312A;
}

.form-control {
  display: block;
  width: 100% !important;
  height: auto !important;
  padding: 15px 19px !important;
  font-size: 1rem !important;
  line-height: 1.4 !important;
  color: #475F7B !important;
  background-color: #F3F5F6 !important;
  border-radius: .267rem;
  -webkit-transition: .15s ease-in-out,box-shadow .15s ease-in-out !important;
  transition: .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 0px !important;
}

.form-message-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 19px;
  font-size: 1rem;
  line-height: 1.4;
  color: #475F7B;
  background-color: #F3F5F6 !important;

  border-radius: .267rem;
  -webkit-transition:  .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 0px !important;
}
.form-control:focus {
  color: #475F7B;
  background-color: #FFF !important;
  border-color: #EE312A !important;
  outline: 0;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}

.c-title {
  text-transform: uppercase;
}

.form-submit {
  margin: 20px auto;
}

.button-align {
  margin: 0 auto;
  text-align: center;
}



/* ===================
REQUEST FOR POS SECTION
====================*/

.free-pos {
    background: url("../images/POS-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    position: relative;
    overflow: hidden;
}

.request-pos-heading {
    padding: 50px 0;
    max-width: 663px;
    margin: 0 auto;
    text-align: center;
    
}

.request-pos-heading h1{ 
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #00425F;
    text-align: center;
    padding-bottom: 40px;
}

.pos-image-cont {
    max-width: 420px;
    margin: 0 auto;
    padding: 40px 0;
}

.pos-image-cont img{ 
    width: 100%;
}

.methods-container {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.methods-heading {
    text-align: center;
    padding-top: 40px;
    /* padding-bottom: 50px; */
}

.methods-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    text-align: center !important;
}
.method {
    padding: 40px 0;
}

.method img{
    padding: 10px 0;
}

.method img:hover{
    transform: scale(1.1 );
}

.pos-btn {
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
}

.pos-dots {
   position: absolute;
   bottom: 5%;
   left: -1%;
}

/* ===================
Blog SECTION
====================*/

.blog {
    background: url("../images/blog-section.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    position: relative;
    overflow: hidden;
}

.blog-text {
    max-width: 550px;
    margin: 0 auto;
    padding: 45px 15px;
    text-align: center;
    color: #072F40;
}

.blog-text h1{
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.blog-text p {
    padding: 39px 0;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 141.52%;
}

/* ===================
    NEWSLETTER SECTION
====================*/

.newsletter {
    background: url("../images/newsletter-bg.png");
    background-size: cover;
    position: relative;
   background-repeat: no-repeat;
   border-radius: 16px;
   
   
}

.newsletter-text {
    max-width: 788px;
    margin: 0 auto;
    padding: 65px 0;
    color: #fff;
    text-align: center;
}

.newsletter-text h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: normal;
}

.newsletter-text p {
    max-width: 560px;
    margin: 0 auto;
    padding: 33px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 141.52%;
}

.form {
    padding-top: 32px;
}

.form__email {
    background-color: rgba(2 117, 216, 0.28);
    padding: 16px 34px;
	border-radius: 8px;
 	/* border: 1px solid #CAD3DB; */
	width: 500px;
	font-size: 18px;
	color: #ffffff !important;
    border: none;
}

.form_email::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    border: none;
    margin-left: 10px;
}

  /* ===================
    FOOTER STYLING 
  ==================*/

.footer-img {
    max-width: 120px;
    margin: 0 auto;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 68px;
    padding-bottom: 30px;
}

.social-logos {
    display: flex;
    gap: 15px;
}

.social-logos i{
    color: #00425F;
    font-size: 21px;
}


  /* ===================
  RESPONSIVE STYLING 
  ==================*/

  @media (max-width: 991px) {
    .floating-img {
        width: 100px;
    }

    .banner-text-container {
        max-width: 583px;
        position: relative;
        z-index: 0;
        padding: 180px 0px;
    }

     .banner-text-container h1{  
        font-size: 30px;
     }

     .learn-more-btn {
        padding: 16px 32px !important;
     }

     .heading-container {
        padding: 90px 15px;
    }

    .speaker-text {
        padding-bottom: 70px;
    }

    .form {
        padding: 30px 20px;
    }

    .form__email {
        background-color: rgba(2 117, 216, 0.28);
        padding: 16px 34px;
        border-radius: 8px;
        /* border: 1px solid #CAD3DB; */
        width: 100%;
        margin-bottom: 17px;
    }

    .top-left {
        top: 10%;
    }

    .top-right {
        top: 10%;
    }

    .speaker-img-cont {
        position: relative;
        margin-bottom: 50px;
    }

    .speaker-detail-flex {
        flex-wrap: wrap;
    }

    .blog-text {
        max-width: 550px;
        margin: 0 auto;
        padding: 45px 15px;
    }
  
  }

  @media (max-width: 771px) { 
    .talk-btn {
        padding: 0px 32px !important;
        margin-left: 38px !important;
        /* margin-bottom: 40px !important; */
    }

    .download-ebook-heading {
        padding: 30px 30px;
    }

    .download-ebook-heading h1 {
        color: #00425F;
        text-align: center;
        font-size: 42px;
        margin: 0;
        line-height: 45px;
    }

    .methods-flex {
        justify-content: center;
    }

    .newsletter-text h1 {
        font-size: 34px;
    }

    .logo {
        margin-left: -10px;
    }

    .stroke-left {
        opacity: 0.46;
    }
  }


  @media (max-width: 600px) { 

    .banner-text-container p {
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        padding-bottom: 45px;
    }
    .subscribe-btn {
        border: none;
        margin-left: 0px;
        width: 100%;
    }

    .newsletter-text {
        padding: 65px 12px;
    }

    .request-pos-heading h1 {
        font-size: 37px;

    }

    .newsletter-text p {
        font-size: 16px;
    }

    .footer-flex {
        display: flex;
        flex-wrap: wrap;
        padding-top: 68px;
        padding-bottom: 30px;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    .blog-text h1{
        font-size: 40px;
    }

    .register-heading {
        font-size: 44px;
        font-weight: 700;
        line-height: 44px;
    }
  }